html {
    background: #e6e9e9;}

.wrapper {
  display: flex;  
  flex-flow: row wrap;

}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
  font-family: "candara", Helvetica, Arial;
  border: 5px solid #DEB887;
  box-shadow: 5px 10px #FFEFD5;
}

.header {
  background: #3CB371;
  text-align: center;
}

.footer {
  background:#3CB371 ;
  text-align: center;
}

.main {
  text-align: left;
  background: #FFEFD5;
}

.aside-1 {
  background: #FFEFD5;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
h3{
    text-align: center;
}

nav { text-align:center; }
nav ul{list-style-type: none; padding: 0;}
nav ul li { background-color: #3CB371;
            text-align: center;
            display: block;
            margin-bottom: 30px;
            width: auto;
            height: 40px;
            border-radius: 10px;
            line-height: 30px;
            padding: 10px 32px;}

nav ul li a {text-decoration: none; font-weight: bold; color:white;}
