body {
  margin: 3%;
  padding: 1%%;
 background: #e6e9e9;}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color: #808080;
  padding: 20px;
}
h1,h2,h3{
    color: #696969;
}

.item4 {
  height: 50px;
}
.grid-container > div {
  background-color: greenyellow;
  text-align: center;
  padding: 20px 0;
  font-family: "candara", Helvetica, Arial;
  font-size: 18px;
}

ul.a {
  list-style-type: circle;
  text-align: left;
  padding: 1px;  
  padding-left: 40px;
}  
li:last-child {
 margin-bottom: 0px;
}
li{
 margin-bottom: 40px;
}
nav { text-align:center; }
nav ul{list-style-type: none; padding: 0;}
nav ul li { background-color:#808080;
            text-align: center;
            display: block;
            margin: 6px 4px;
            margin-bottom: 40px;
            width: auto;
            height: 40px;
            border-radius: 10px;
            line-height: 30px;
}

nav ul li a {text-decoration: none; font-weight: bold; color:white;}

